@font-face {
  font-family: 'Special Elite';
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local('Special Elite'), url('/assets/fonts/SpecialElite.woff') format('woff');
}

:root {
  color-scheme: light dark;

  --background: light-dark(#FFFFFF, #222);
  --border: light-dark(#000, #181818);
  --text: light-dark(#333333, #ffffff);
  --primary: light-dark(#FD2B6C, #FD2B6C);
  --secondary: light-dark(#029CD0, #FFE641);
  --tertiary: light-dark(#FFE641, #029CD0);
  --footer: light-dark(#E5E5E5, #181818);

  --headingFont: 'Special Elite', sans-serif;

  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  min-block-size: 100vh;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

::selection {
  background-color: var(--secondary);
  color: #000;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary);
  font-family: var(--headingFont);
  margin: 0;
  padding: 0;
}

h2:not([class]) {
  background-color: var(--tertiary);
  color: var(--text);
  display: inline-block;
  font-family: var(--headingFont);
  margin-block: 2rem;
  padding-inline: 0.5rem;
  transform: rotate(-3deg);
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
  text-wrap: balance;
}

p {
  line-height: 2;
  margin-block-end: var(--spacing-md);
  text-wrap: pretty;
}

ul {
  line-height: 2;
  margin: 0 0 var(--spacing-md) var(--spacing-md);
  padding: 0;
}

li::marker {
  color: var(--primary);
}

a {
  color: var(--secondary);
}

a:focus-visible,
a:hover {
  filter: hue-rotate(90deg);
  text-decoration: none;
}

a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.header {
  align-items: center;
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-md) var(--spacing-lg);
}

@scope (.header) {
  h1 {
    color: inherit;
    margin: 0;
    padding: 0;
  }

  a {
    background-color: var(--background);
    color: var(--text);
    display: block;
    font-family: var(--headingFont);
    padding: 0.5rem 0.5rem 0.15rem;
    text-decoration: none;
    transform: rotate(-3deg);
  }
}

.content {
  flex: 1;
  padding: var(--spacing-lg) var(--spacing-md);

  @media (min-width: 480px) {
    & {
      padding: var(--spacing-lg);
    }
  }
}

.footer {
  background-color: var(--footer);
  margin-top: auto;
  padding: var(--spacing-md) var(--spacing-lg);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md) 1ch;
  list-style: none;
  margin: var(--spacing-xl) 0 var(--spacing-lg);

  li {
    font-family: var(--headingFont);
    padding-inline: 0.5rem;

    &:nth-child(odd) {
      background-color: var(--skills-colour-1, var(--primary));
      color: var(--skills-colour-2, #000);
      transform: rotate(-3deg);
    }

    &:nth-child(even) {
      background-color: var(--skills-colour-2, #000);
      color: var(--skills-colour-1, var(--primary));
      transform: rotate(3deg);
    }
  }
}

.jobs {
  margin-block-start: var(--spacing-md);
  margin-inline: var(--spacing-md);

  @media (min-width: 768px) {
    margin-inline: var(--spacing-lg);
  }
}

.job {
  --skills-colour-1: var(--tertiary);

  & + & {
    border-top: 1px solid var(--border);
    margin-block-start: var(--spacing-lg);
    padding-block-start: var(--spacing-lg);
  }

  summary {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    position: relative;

    @media (min-width: 768px) {
      & {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &::before {
      color: var(--secondary);
      content: "";
      display: block;
      background-image: url('/assets/img/marker.svg');
      height: 20px;
      width: 36px;
      position: absolute;
      left: 0;
      transition: all ease-in-out .2s;
    }

    [open] &::before {
      filter: hue-rotate(90deg);
      transform: rotate(90deg);
    }

    &:focus-visible {
      outline: 2px solid var(--secondary);
      outline-offset: var(--spacing-lg);
    }
  }

  h3 {
    padding-inline-start: calc(36px + var(--spacing-md));
  }

  a {
    background-color: var(--secondary);
    color: #000;
    display: inline-block;
    line-height: 1;
    padding: 4px 4px 2px;
    text-decoration: none;
    transform: rotate(-3deg);
    transition: all ease-in-out .1s;

    &:hover,
    &:focus-visible {
      transform: rotate(3deg);
    }
  }

  time {
    color: var(--primary);
    font-style: normal;
    line-height: 1.25;
    text-transform: uppercase;

    span {
      background-color: var(--tertiary);
      color: var(--text);
      display: block;
      font-size: 1.5rem;
      line-height: 1;
      padding: 0.6rem 0.5rem 0;
      transform: rotate(-3deg);
    }
  }
}

.job__dates {
  align-items: center;
  display: flex;
  font-family: var(--headingFont);
  font-style: italic;
  gap: var(--spacing-md);
  text-align: center;
  justify-content: space-between;
}
